body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 740px; }
  body .img_button {
    outline: none;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer; }
  body .img_button:hover,
  body .img_button:focus {
    background-color: #DEDEDE; }
  body .menu {
    position: relative;
    display: inline-block; }
  body .menu-items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    body .menu-items a {
      font-size: 1.7em;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
  body .menu a:hover {
    background-color: #ddd; }
  body .show {
    display: block; }
  body .mobile {
    display: none; }
  body .toosmall {
    display: none;
    font-size: 3em;
    font-weight: bold; }
  body .header_image {
    height: 100px;
    background-color: #531011;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
  body img {
    margin-top: 1%; }
  body .black_bar {
    display: flex;
    height: 30px;
    font-size: 1.4em;
    background-color: #131313;
    color: white;
    padding-left: 10px; }
    body .black_bar a {
      text-decoration: none;
      padding-right: 20px;
      color: white; }
    body .black_bar p {
      padding-top: 120px;
      font-size: 0.8em; }
  body .date {
    height: 30px; }
    body .date p {
      padding-top: 6px;
      padding-right: 40px;
      text-align: right;
      margin: 0; }
  body .grey_banner1 {
    margin-left: 16px;
    height: 25px;
    width: 700px;
    background-color: #DEDEDE; }
    body .grey_banner1 p {
      margin: 0;
      padding-left: 1%;
      font-size: 1.3em; }
  body .grey_banner2 {
    margin-bottom: 33px;
    height: 25px;
    width: 580px;
    background-color: #DEDEDE; }
    body .grey_banner2 p {
      margin: 0;
      padding-left: 1%;
      font-size: 1.3em; }
  body .header_content_2 {
    margin-left: 8%;
    margin-bottom: 4%; }
    body .header_content_2 img {
      width: 610px;
      height: 70px; }
  body .banner_right2 a img {
    width: 100px;
    height: 465px; }
  body .container_content {
    display: flex;
    flex-wrap: wrap;
    margin: 15.8px; }
    body .container_content .row_of_articles {
      height: 170px;
      display: flex; }
      body .container_content .row_of_articles .article_flexbox {
        height: 150px;
        width: 190px;
        position: relative; }
        body .container_content .row_of_articles .article_flexbox a img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        body .container_content .row_of_articles .article_flexbox .text {
          height: 50px;
          opacity: 0.8;
          position: absolute;
          bottom: 0px;
          right: 0px;
          background: black;
          width: 100%; }
          body .container_content .row_of_articles .article_flexbox .text p {
            padding-left: 10px;
            padding-top: 6px;
            margin-top: 0;
            font-size: 0.8em;
            color: white; }
      body .container_content .row_of_articles #first_article {
        margin-right: 5px; }
      body .container_content .row_of_articles #last_article {
        margin-left: 5px;
        margin-right: 15px; }
  body .container_content_2 {
    margin-left: 16px;
    font-size: 1.6em;
    display: flex;
    flex-wrap: wrap; }
    body .container_content_2 .row_of_articles_2 {
      margin-bottom: 10%;
      height: 170px;
      display: flex; }
      body .container_content_2 .row_of_articles_2 .article_flexbox_2 {
        height: 220px;
        width: 280px;
        position: relative; }
        body .container_content_2 .row_of_articles_2 .article_flexbox_2 a img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        body .container_content_2 .row_of_articles_2 .article_flexbox_2 .text {
          height: 70px;
          position: absolute;
          opacity: 0.8;
          bottom: 0px;
          right: 0px;
          background: black;
          width: 100%; }
          body .container_content_2 .row_of_articles_2 .article_flexbox_2 .text p {
            padding-left: 10px;
            font-size: 0.6em;
            color: white; }
      body .container_content_2 .row_of_articles_2 #first_article {
        margin-right: 20px; }
      body .container_content_2 .row_of_articles_2 #last_article {
        margin-right: 15px; }
  body .black_bar_footer {
    display: flex;
    height: 160px;
    font-size: 1em;
    background-color: #131313;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold; }
    body .black_bar_footer a {
      text-decoration: none;
      padding: 5px 10px 0 0;
      color: white; }
    body .black_bar_footer p {
      width: 300px;
      margin-top: 130px;
      font-size: 0.8em;
      margin-left: 30px; }
    body .black_bar_footer img {
      margin-left: 70px;
      padding-top: 50px;
      width: 190px;
      height: 40px; }

@media screen and (max-width: 768px) {
  body .date {
    margin: 0; }
    body .date p {
      padding: 0;
      text-align: center;
      width: 50%;
      margin: auto; }
  body .img_button {
    height: 50px;
    width: 100px; }
  body .header_image img {
    margin: auto; }
  body .mobile {
    display: block; }
  body p {
    margin: 0; }
  body .desktop {
    display: none; }
  body .desktop1 img {
    height: 240px;
    width: 240px; }
  body .header_image {
    height: 80px; }
  body .black_bar {
    max-width: 100%;
    width: 100%;
    justify-content: space-around; }
  body .grey_banner1 {
    font-size: 2em;
    height: 50px;
    margin: 0 auto;
    display: flex;
    width: 490px;
    justify-content: center; }
  body .grey_banner2 {
    font-size: 2em;
    height: 50px;
    margin: 0 auto;
    display: flex;
    width: 500px;
    justify-content: center; }
  body .date {
    width: 100%;
    max-width: 100%; }
  body .container_content {
    justify-content: center; }
  body .container_content_2 {
    justify-content: center; }
  body .container_content {
    height: 800px;
    max-width: 100%; }
    body .container_content .row_of_articles {
      width: 500px;
      flex-wrap: wrap; }
      body .container_content .row_of_articles #first_article {
        margin-left: 2%;
        margin-right: 2%; }
      body .container_content .row_of_articles #last_article {
        margin-left: 2%;
        margin-right: 2%; }
      body .container_content .row_of_articles .article_flexbox {
        font-size: 1.6em;
        margin-bottom: 20px;
        height: 240px;
        width: 240px; }
        body .container_content .row_of_articles .article_flexbox .text {
          height: 110px; }
  body .container_content_2 {
    margin-top: 340px;
    max-width: 100%;
    height: 500px; }
    body .container_content_2 .row_of_articles_2 {
      width: 500px; }
      body .container_content_2 .row_of_articles_2 #first_article {
        margin-right: 2%; }
      body .container_content_2 .row_of_articles_2 .article_flexbox_2 {
        font-size: 1.6em;
        height: 240px;
        width: 240px; }
        body .container_content_2 .row_of_articles_2 .article_flexbox_2 .text {
          height: 120px; }
        body .container_content_2 .row_of_articles_2 .article_flexbox_2 a img {
          width: 240px; }
  body .grey_banner2 {
    max-width: 100%;
    margin-top: 350px; }
  body .header_content_2 {
    display: none; }
  body .black_bar_footer {
    flex-flow: column; }
    body .black_bar_footer table {
      display: flex;
      justify-content: center;
      margin-top: 10px; }
    body .black_bar_footer img {
      padding: 0;
      margin: auto; }
    body .black_bar_footer p {
      width: auto;
      margin: auto; } }
@media screen and (max-width: 768px) and (max-width: 555px) {
  body .grey_banner1 {
    width: 100%; }
    body .grey_banner1 p {
      margin: auto; }
  body .grey_banner2 {
    margin-top: 450px; }
  body .desktop1 img {
    width: 340px;
    height: 340px; }
  body .container_content {
    max-height: 100%;
    height: 1500px; }
    body .container_content .row_of_articles {
      height: 1000px;
      width: 340px; }
      body .container_content .row_of_articles .article_flexbox {
        font-size: 2em;
        margin-bottom: 20px;
        height: 340px;
        width: 340px; }
        body .container_content .row_of_articles .article_flexbox .text {
          height: 100px; }
  body .container_content_2 {
    margin-top: 200px;
    height: 400px;
    display: none; }
    body .container_content_2 .row_of_articles_2 {
      width: 340px;
      height: 100%; }
  body .black_bar_footer {
    margin-top: 1120px; }
    body .black_bar_footer img {
      margin: auto; }
    body .black_bar_footer p {
      width: auto;
      margin: auto; } }

/*# sourceMappingURL=styles.css.map */
