            body {
                font-family: 'Roboto', sans-serif;
                margin: auto;
                max-width: 740px;
                .toosmall {
                    display: none;
                    font-size: 3em;
                    font-weight: bold;
                }
                .header_image {
                    height: 100px;
                    background-color: #531011;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                }
                img {
                    margin-top: 1%;
                }
                .black_bar {
                    display: flex;
                    height: 30px;
                    font-size: 1.4em;
                    background-color: #131313;
                    color: white;
                    padding-left: 10px;
                    a {
                        text-decoration: none;
                        padding-right: 20px;
                        color: white;
                    }
                    p {
                        padding-top: 120px;
                        font-size: 0.8em;
                    }
                }
                .date {
                    height: 30px;
                    p {
                        padding-top: 6px;
                        padding-right: 40px;
                        text-align: right;
                        margin: 0;
                    }
                }
                .grey_banner1 {
                    margin-left: 16px;
                    height: 25px;
                    width: 700px;
                    background-color: #DEDEDE;
                    p {
                        margin: 0;
                        padding-left: 1%;
                        font-size: 1.3em;
                    }
                }
                .grey_banner2 {
                    margin-bottom: 33px;
                    height: 25px;
                    width: 580px;
                    background-color: #DEDEDE;
                    p {
                        margin: 0;
                        padding-left: 1%;
                        font-size: 1.3em;
                    }
                }
                .header_content_2 {
                    margin-left: 8%;
                    margin-bottom: 4%;
                    img {
                        width: 610px;
                        height: 70px;
                    }
                }
                .banner_right2 {
                    a {
                        img {
                            width: 100px;
                            height: 465px;
                        }
                    }
                }
                .container_content {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 15.8px;
                    .row_of_articles {
                        height: 170px;
                        display: flex;
                        .article_flexbox {
                            height: 150px;
                            width: 190px;
                            position: relative;
                            a {
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .text {
                                height: 50px;
                                opacity: 0.8;
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                background: black;
                                width: 100%;
                                p {
                                    padding-left: 10px;
                                    padding-top: 6px;
                                    margin-top: 0;
                                    font-size: 0.8em;
                                    color: white;
                                }
                            }
                        }
                        #first_article {
                            margin-right: 5px;
                        }
                        #last_article {
                            margin-left: 5px;
                            margin-right: 15px;
                        }
                    }
                }
                .container_content_2 {
                    margin-left: 16px;
                    font-size: 1.6em;
                    display: flex;
                    flex-wrap: wrap;
                    .row_of_articles_2 {
                        margin-bottom: 10%;
                        height: 170px;
                        display: flex;
                        .article_flexbox_2 {
                            height: 220px;
                            width: 280px;
                            position: relative;
                            a {
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .text {

                                height: 70px;
                                position: absolute;
                                opacity: 0.8;
                                bottom: 0px;
                                right: 0px;
                                background: black;
                                width: 100%;
                                p {
                                    padding-left: 10px;
                                    font-size: 0.6em;
                                    color: white;
                                }
                            }
                        }
                        #first_article {
                            margin-right: 20px;
                        }
                        #last_article {
                            margin-right: 15px;
                        }
                    }
                }
                .black_bar_footer {
                    display: flex;
                    height: 160px;
                    font-size: 1em;
                    background-color: #131313;
                    color: white;
                    padding-left: 10px;
                    padding-right: 20px;
                    a {
                        text-decoration: none;
                        padding: 5px 10px 0 0;
                        color: white;
                    }
                    p {
                        margin-top: 130px;
                        font-size: 0.8em;
                        margin-left: 30px;
                    }
                    img {
                        margin-left: 70px;
                        padding-top: 50px;
                        width: 190px;
                        height: 40px;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                body {
					p {
						margin:0;
					}
                    .desktop {
                        display: none;
                    }
                    .desktop1 {
                        img {
                            height: 240px;
                            width: 240px;
                        }
                    }
                    .header_image {
                        height: 80px;
                    }
                    .black_bar {
                        max-width: 100%;
                        width: 100%;
                        justify-content: space-around;
                    }
                    .grey_banner1 {

                        margin-left: 0;
                        width: 100%;
                        max-width: 100%;
                    }
                    .grey_banner2 {
                        margin-top: 300px;
                    }
                    .date {
                        width: 100%;
                        max-width: 100%;
                    }
                    .container_content {
                        justify-content: center;
                    }
                    .container_content_2 {
                        justify-content: center;
                    }
                    .container_content {
                        height: 800px;
                        .row_of_articles {
                            justify-content: space-around;
                            flex-wrap: wrap;
                            .article_flexbox {
                                margin-bottom: 20px;
                                height: 240px;
                                width: 240px;
                            }
                        }
                    }
                    .container_content_2 {
                        margin-top: 340px;
                        height: 500px;
                        .row_of_articles_2 {
                            .article_flexbox_2 {
                                height: 240px;
                                width: 240px;
                            }
                        }
                    }
                    .grey_banner2 {
                        max-width: 100%;
                        margin-top: 350px;
                    }
                    .header_content_2 {
                        display: none;
                    }

                    .black_bar_footer {
                        flex-flow: column;
                        table {
                            display: flex;
                            justify-content: center;
                            margin-top: 10px;
                        }
                        img {
                            padding: 0;
                            margin: 20px 0px 30px 170px;
                        }
                        p {
                            margin-top: 0;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                @media screen and (max-width: 550px) {
                    body {
                        display: none;
                        .toosmall {
                            p {
                                display: block;
                            }
                        }
                    }
                }
            }